<p class="bar topfill"></p>

<h2 class="bar red">Ga aan de slag</h2>

<div id="home-input">
    <input type="text" class="leftovers" placeholder="Gebruik je overschotten">
</div>

<h2 ng-show="founds || loading" class="bar yellow clear">Recepten voor je overschotten</h2>

<img ng-show="loading" class="loader" src="img/loader-white.gif" >

<div class="error" ng-show="formerror">
    {{ formerror }}
</div>

<div ng-show="founds" class="row">
    <a ng-repeat="recipe in founds" href="#/recipe/{{recipe.id}}"><div class=" pic" ng-style="{'background':'url({{linkIMAGE}}recipes/{{ recipe.image }}) center no-repeat'}"></div></a>
</div>

<h2 ng-hide="founds" class="bar yellow clear">Top Recepten</h2>
<div ng-hide="founds" class="row">
    <div class="small-4 medium-4 columns nopad">
        <div class="small-12 medium-12 columns pic" style="display:block;background: url('img/spaghetti.jpg') center no-repeat"></div>
        <div class="small-12 medium-12 columns pic" style="background: url('img/lamsbout.jpg') center no-repeat"></div>
    </div>
    <div class="small-4 medium-4 columns pic large-pic" style="background: url('img/donut.jpg') center no-repeat"></div>
    <div class="small-4 medium-4 columns nopad">
        <div class="small-12 medium-12 columns pic" style="background: url('img/lamsbout.jpg') center no-repeat"></div>
        <div class="small-12 medium-12 columns pic" style="background: url('img/spaghetti.jpg') center no-repeat"></div>
    </div>
</div>

<h2 ng-hide="founds" class="bar yellow">Gerechten van vrienden</h2>

<div ng-hide="founds" class="row">
    <div class="small-4 medium-4 columns pic" style="background: url('img/spaghetti.jpg') center no-repeat"></div>
    <div class="small-4 medium-4 columns pic" style="background: url('img/donut.jpg') center no-repeat"></div>
    <div class="small-4 medium-4 columns pic" style="background: url('img/lamsbout.jpg') center no-repeat"></div>
</div>

{{ autoComplete() }}