<p class="bar topfill"></p>

<h2 class="bar red">Ga aan de slag</h2>

<div id="home-input">
    <p><i class="fa fa-plus"></i> Gebruik je overschotten</p>
    <input type="submit" value="Zoeken">
</div>

<h2 class="bar yellow">Top Recepten</h2>
<div class="row">
    <div class="small-4 medium-4 columns nopad">
        <div class="small-12 medium-12 columns pic" style="background: url('img/spaghetti.jpg') center no-repeat"></div>
        <div class="small-12 medium-12 columns pic" style="background: url('img/lamsbout.jpg') center no-repeat"></div>
    </div>
    <div class="small-4 medium-4 columns pic large-pic" style="background: url('img/donut.jpg') center no-repeat"></div>
    <div class="small-4 medium-4 columns nopad">
        <div class="small-12 medium-12 columns pic" style="background: url('img/lamsbout.jpg') center no-repeat"></div>
        <div class="small-12 medium-12 columns pic" style="background: url('img/spaghetti.jpg') center no-repeat"></div>
    </div>
</div>

<h2 class="bar yellow">Gerechten van vrienden</h2>

<div class="row">
    <div class="small-4 medium-4 columns pic" style="background: url('img/spaghetti.jpg') center no-repeat"></div>
    <div class="small-4 medium-4 columns pic" style="background: url('img/donut.jpg') center no-repeat"></div>
    <div class="small-4 medium-4 columns pic" style="background: url('img/lamsbout.jpg') center no-repeat"></div>
</div>