<p class="bar topfill"></p>

<div class="row">
    <a href="#/recipe/create"><div class="small-12 medium-12 columns button-blue">Nieuw Recept</div></a>
</div>

<input type="text" id="quickSearch" ng-model="searchRecipe.name" type="text" placeholder="Snel zoeken">

<div id="#search" ng-show="searchRecipe">
    <div class="row recipe-list-recipe" ng-repeat="recipe in recipes | filter:searchRecipe:strict">
        <div class="small-12 columns">
            <a href="#/recipe/{{recipe.id}}"><img src="http://localhost/leftovers/backoffice/public/images/recipes/{{ recipe.image }}" >{{ recipe.name }}</a>
        </div>
    </div>
</div>

<div class="row" ng-repeat="course in courses" ng-if="recipesInitialized == true && !searchRecipe">
    <h2 class="bar yellow recipe-list-course" ng-Click="showRecipes(course)">{{ course }}</h2><p>{{ recipeCount(course) }}</p>

    <div class="recipe-holder">
        <div class="row recipe-list-recipe" ng-repeat="recipe in recipes" ng-if="recipe.course == course" ng-show="selectedCourse == course">
            <div class="small-12 columns">
                <a href="#/recipe/{{recipe.id}}"><img src="http://localhost/leftovers/backoffice/public/images/recipes/{{ recipe.image }}" >{{ recipe.name }}</a>
            </div>
        </div>
    </div>
</div>

