<p class="bar topfill"></p>

<form name="createForm" class="nml-form">

<div id="info" class="row info">
        <div class="info-chef"><img src="img/chef.png"></div>
        <div class="info-content">
            <p ng-show="step == 1">Fantastisch. Je bent begonnen met het creëren van een nieuw recept.</p>
            <p ng-show="step == 1">Deel jouw kookkunsten met de rest van de wereld.</p>
            <p ng-show="step == 2">'{{ recipe.name }}'. Klinkt geweldig! Maar wat voor gerecht was dat nu precies?</p>
            <p ng-show="step == 2">Kan je mijn geheugen even opfrissen door me de volgende gegevens in te vullen?</p>
            <p ng-show="step == 3">Nu weet ik het weer! '{{ recipe.name }}' is een {{ recipe.course }}. Zeer lekker!</p>
            <p ng-show="step == 3">Iedereen heeft zijn eigen manier om dit gerecht te maken. Welke ingrediënten zou jij gebruiken?</p>
            <p ng-show="step == 4">Tot slot mag ik je vragen een stappenplan te maken? Zo kan iedereen makkelijk het gerecht zelf proberen klaar te maken.</p>
        </div>
</div>
<div class="form-error" data-ng-show="error">{{error}} </div>

 <div id="step1" ng-show="step == 1" ng-form="step1form">
    <label class="bar yellow">Naam <span ng-show="recipe.name"><img src="img/ok.png"></span></label>
    <input type="text" required name="name" ng-model="recipe.name" placeholder="Naam recept">

     <label class="bar yellow">Aantal personen <span ng-show="recipe.persons"><img src="img/ok.png"></span></label>
     <input type="number" name="persons" required ng-model="recipe.persons" placeholder="0">

     <label class="bar yellow">Image</label>
     <input type="file" name="image" required ng-file-select="onFileSelect($files)" >
 </div>

<div id="step2" ng-show="step == 2" ng-form="step2form">
    <label class="bar yellow">Tijd <span ng-show="recipe.time"><img src="img/ok.png"></span></label>
    <select required name="time" ng-model="recipe.time">
        <option value=""  class="option-empty">-- Bereidingstijd --</option>
        <option ng-repeat="time in times" value="{{ time }}">{{ time }} minuten</option>
    </select>


    <label class="bar yellow">Moeilijkheidsgraad <span ng-show="recipe.level"><img src="img/ok.png"></span></label>
    <select required name="level" ng-model="recipe.level">
        <option value="" class="option-empty">-- Moeilijkheidsgraad --</option>
        <option ng-repeat="level in levels" value="{{ level }}">{{ level }}</option>
    </select>


    <label class="bar yellow">Gang <span ng-show="recipe.course"><img src="img/ok.png"></span></label>
    <select required name="course" ng-model="recipe.course">
        <option value="" class="option-empty">-- Gang --</option>
        <option ng-repeat="course in courses" value="{{ course }}">{{ course }}</option>
    </select>


    <label class="bar yellow">Soort <span ng-show="recipe.type"><img src="img/ok.png"></span></label>
    <select required name="type" ng-model="recipe.type">
        <option value="" class="option-empty">-- Soort --</option>
        <option ng-repeat="type in types" value="{{ type }}">{{ type }}</option>
    </select>

</div>

<div id="step3" ng-show="step == 3" ng-form="step3form">
    <label class="bar yellow">Ingrediënten</label>
    <div id="ingredient-holder">
        <div class="allIng">
            <input type="text" name="test" class="ings" ng-model="recipe.ingredients1" placeholder="Ingrediënt">
            <input name="test2" type="number" placeholder="0" ng-model="recipe.amounts1" class="amount"><p class="grey unit"></p><p class="delete"><i class="fa fa-trash-o"></i></p>
        </div>

        <div class="allIng">
            <input required class="ings" ng-model="recipe.ingredients2" placeholder="Ingrediënt">
            <input required type="number" placeholder="0" ng-model="recipe.amounts2" class="amount"><p class="grey unit"></p><p class="delete"><i class="fa fa-trash-o"></i></p>
        </div>

        <div class="allIng">
            <input required class="ings" ng-model="recipe.ingredients3" placeholder="Ingrediënt">
            <input required type="number" placeholder="0" ng-model="recipe.amounts3" class="amount"><p class="grey unit"></p><p class="delete"><i class="fa fa-trash-o"></i></p>
        </div>

        <div class="allIng">
            <input required class="ings" ng-model="recipe.ingredients4" placeholder="Ingrediënt">
            <input required type="number" placeholder="0" ng-model="recipe.amounts4" class="amount"><p class="grey unit"></p><p class="delete"><i class="fa fa-trash-o"></i></p>
        </div>
    </div>
    <div class="small-12 medium-12 columns button-add" ng-click="addIngredient()"><i class="fa fa-plus"></i> Meer ingrediënten toevoegen</div>
</div>

<div id="step4" ng-show="step == 4" ng-form="step4form">
    <label class="bar yellow">Stappenplan</label>
    <div id="form-steps">
            <textarea placeholder="Volgende stap" required ng-model="recipe.step1"> </textarea>
            <p class="deleteStep"><i class="fa fa-trash-o"></i></p>
            <textarea placeholder="Volgende stap" required ng-model="recipe.step2"> </textarea>
            <p class="deleteStep"><i class="fa fa-trash-o"></i></p>
            <textarea placeholder="Volgende stap" required ng-model="recipe.step3"> </textarea>
            <p class="deleteStep"><i class="fa fa-trash-o"></i></p>
            <textarea placeholder="Volgende stap" required ng-model="recipe.step4"> </textarea>
            <p class="deleteStep"><i class="fa fa-trash-o"></i></p>
    </div>
    <div class="small-12 medium-12 columns button-add" ng-click="addStep()"><i class="fa fa-plus"></i> Meer stappen toevoegen</div>
</div>

</form>

<div class="small-12 medium-12 columns button-blue" ng-click="next()" ng-show="step == 1">Volgende</div>
<div class="small-6 medium-6 columns button-blue" ng-click="back()" ng-show="step > 1 && step < 5">Vorige</div>
<div class="small-6 medium-6 columns button-blue" ng-click="next()" ng-show="step > 1 && step < 4">Volgende</div>
<div class="small-6 medium-6 columns button-green" ng-click="next()" ng-show="step == 4">Koken</div>