<div id="recipe" ng-if="recipeInitialized">
    <div class="row" style="height: 100%">
        <div class="small-12 columns big-pic" style="background: url('http://localhost/leftovers/backoffice/public/images/recipes/{{ recipe.image }}') center no-repeat">
        </div>
    </div>

    <div class="row rec-nav nopad">
        <div class="small-12 medium-12 columns nopad">
            <h3>{{ recipe.name }}</h3>
        </div>
    </div>

    <p class="bar-special"></p>

    <div class="row rec-info">
        <div class="small-3 medium-3 columns nopad">
            <img src="img/author.png" >
        </div>
        <div class="small-3 medium-3 columns">
            {{ recipe.time }}<span></span>
        </div>
        <div class="small-3 medium-3 columns">
            {{ recipe.level }}
        </div>
        <div class="small-3 medium-3 columns">
            <img src="img/rating.png" >
        </div>
    </div>

    <p class="bar-special"></p>



    <div class="row rec-details nopad">
        <div class="small-6 medium-6 columns nopad">
            <p>{{ recipe.persons }} Personen</p>
        </div>
        <div class="small-6 medium-6 columns nopad">
            <p>{{ recipe.course }}</p>
        </div>
    </div>
    <div class="row rec-details nopad">
        <div class="small-6 medium-6 columns nopad">
            <p>{{ recipe.type }}</p>
        </div>
        <div class="small-6 medium-6 columns nopad">
            <p>{{ recipe.level }}</p>
        </div>
    </div>

    <div class="row rec-ingredients nopad">
        <div class="small-6 medium-6 columns nopad">
            <ul>
                <li ng-repeat="ingredient in recipe.ingredients" ng-if="$index % 2 == 0" >
                    {{ ingredient.pivot.amount }}{{ ingredient.unit }} {{ ingredient.name }}
                </li>
            </ul>
        </div>
        <div class="small-6 medium-6 columns nopad">
            <ul>
                <li ng-repeat="ingredient in recipe.ingredients" ng-if="$index % 2 != 0" >
                    {{ ingredient.pivot.amount }}{{ ingredient.unit }} {{ ingredient.name }}
                </li>
            </ul>
        </div>
    </div>

        <div class="rec-steps" ng-repeat="steps in recipe.description">
            <p>
            {{ $index + 1 }}
            </p>
            <p>
                {{ steps }}
            </p>
        </div>


        <div class="row">
            <div class="small-6 medium-6 columns button-green" ng-hide="liked" ng-Click="likePost(recipe.id,'like')">
                <i class="fa fa-heart-o"></i>
            </div>
            <div class="small-6 medium-6 columns button-green liked" ng-show="liked" ng-Click="likePost(recipe.id,'unlike')">
                <i class="fa fa-heart"></i> Yummy
            </div>
            <div class="small-3 medium-3 columns button-blue">
                <i class="fa fa-share"></i>
            </div>
            <div class="small-3 medium-3 columns button-red">
                <i class="fa fa-comment"></i>
            </div>
        </div>
</div>

<div id="comments">
    <div id="message">
        <p>Amai azo lekker</p>
        <form id="commentForm" name="commentForm" class="nml-form">
            <label class="bar yellow">Voeg commentaar toe</label>
            <textarea ng-model="comment.description" placeholder="Schrijf je review." required > </textarea>
            <div class="row">
                <div class="small-12 medium-12 columns button-add grey-border" ng-click="addStep()"><i class="fa fa-plus"></i> Plaatsen</div>
            </div>
        </form>
    </div>
</div>

{{init()}}