<p class="bar topfill"></p>

<div class="row">
    <a href="#/recipe/create"><div class="button-blue">Nieuw Recept</div></a>
</div>

<input type="text" id="quickSearchRecipes" ng-model="searchRecipe.name" type="text" placeholder="Zoeken in mijn gerechten">

<div class="row">
    <div class="button-green small-button-border grey-border width-6" ng-class="{active: watchLikes == false}" ng-click="switchFav()">Mijn Recepten</div>
    <div class="button-green small-button-border grey-border width-6" ng-class="{active: watchLikes == true} " ng-click="switchFav()" >Favorieten</div>
</div>

<div id="search" ng-show="searchRecipe.name.length">

    <div id="info" class="row info" ng-show="filtered.length == 0">
        <div class="info-chef"><img src="img/chef.png"></div>
        <div class="info-content">
            <p>
                Ik heb geen gerechten van je gevonden met de zoekterm die je gaf.
            </p>
            <p class="infoButton">
                <a href="#/recipe/create">> Nieuw gerecht.</a>
            </p>
            <p class="infoButton">
                <a ng-Click="clearInput()">> Jouw gerechten.</a>
            </p>
        </div>
    </div>

    <div class="row recipe-list-recipe" ng-repeat="recipe in filtered  = ( recipes | filter:searchRecipe:strict)">
            <a href="#/recipe/{{recipe.id}}">
                <div class="small-12 columns searches">
                    <img ng-src="{{linkIMAGE}}recipes/{{ recipe.image }}" >{{ recipe.name }}
                </div>
            </a>
    </div>
</div>

<div ng-repeat="course in courses" class="row" ng-if="!searchRecipe.name.length">

    <h2 class="bar yellow recipe-list-course" ng-Click="showRecipes(course)">{{ course }}</h2><p>{{ recipeCount(course)}}</p>

    <div class="recipe-holder">
        <div class="row recipe-list-recipe" ng-repeat="recipe in recipes" ng-if="recipe.course == course" ng-show="selectedCourse == course">

                <a href="#/recipe/{{recipe.id}}">
                    <div class="small-12 columns">
                    <img ng-src="{{linkIMAGE}}recipes/{{ recipe.image }}" ><span>{{ recipe.name }}</span>
                    </div>
                </a>

        </div>
    </div>
</div>

