<p class="bar topfill"></p>

<div id="info" class="row info">
    <div class="info-chef"><img src="img/chef.png"></div>
    <div class="info-content">
        <p>
            Bon appétit! <br />Welkom bij Leftovers.
        </p>
        <p>
            Na het invullen van volgende gegevens kan je meteen aan de slag.
        </p>
    </div>
</div>

    <form name="registerForm" class="registerForm">
        <p class="bar-special">Gebruikergegevens</p>
        <fieldset>
            <div ng-show="registerForm.email.$dirty && registerForm.email.$invalid">
                <small class="error"
                       ng-show="registerForm.email.$error.required">
                    Your email is required.
                </small>
                <small class="error"
                       ng-show="registerForm.email.$error.email">
                    Please fill in a valid email.
                </small>
            </div>
            <label class="bar yellow">Email <span ng-show="user.email"><img src="img/ok.png"></span></label>
            <input name="email" type="email" ng-change="checkEmail()" ng-model="user.email" placeholder="Your e-mail" required />

            <label class="bar yellow">Password <span ng-show="user.password"><img src="img/ok.png"></span></label>
            <input name="password" type="password" ng-model="user.password" placeholder="Password"  required />
            <div ng-show="registerForm.password.$dirty && registerForm.password.$invalid">
                <small class="error"
                       ng-show="registerForm.password.$error.required">
                    Your password is required.
                </small>
            </div>

            <label class="bar yellow">Password (repeat) <span ng-show="user.password_repeated"><img src="img/ok.png"></span></label>
            <input name="password_repeated" type="password" ng-model="user.password_repeated" placeholder="Password (repeat)"  required />
            <div ng-show="registerForm.password_repeated.$dirty && registerForm.password_repeated.$invalid">
                <small class="error"
                       ng-show="registerForm.password_repeated.$error.required">
                    Your password is required.
                </small>
            </div>
        </fieldset>

        <p class="bar-special">Persoonsgegevens</p>

        <fieldset>
            <label class="bar yellow">Naam <span ng-show="user.surname"><img src="img/ok.png"></span></label>
            <input name="surname" type="text" pattern="[A-Za-z]{2,45}" ng-model="user.surname" placeholder="Your Surname" required />
            <div ng-show="registerForm.surname.$dirty && registerForm.surname.$invalid">
                <small class="error"
                       ng-show="registerForm.surname.$error.required">
                    Your surname is required.
                </small>
                <small class="error"
                       ng-show="registerForm.surname.$error.regex">
                    Your surname must be between 2 and 45 characters long.
                </small>
            </div>

            <label class="bar yellow">Voornaam <span ng-show="user.givenname"><img src="img/ok.png"></span></label>
            <input name="givenname" pattern="[A-Za-z]{2,45}" type="text" ng-model="user.givenname" placeholder="Your Given Name" required />
            <div ng-show="registerForm.givenname.$dirty && registerForm.givenname.$invalid">
                <small class="error"
                       ng-show="registerForm.givenname.$error.required">
                    Your givenname is required.
                </small>
                <small class="error"
                       ng-show="registerForm.givenname.$error.pattern">
                    Your givenname must be between 2 and 45 characters long.
                </small>
            </div>

            <label class="bar yellow">Geboortedatum <span ng-show="user.birthday"><img src="img/ok.png"></span></label>
            <input name="birthday" type="date" ng-model="user.birthday" required placeholder="Your Birthday" />
            <div ng-show="registerForm.birthday.$dirty && registerForm.birthday.$invalid">
                <small class="error"
                       ng-show="registerForm.birthday.$error.required">
                    Your birthday is required.
                </small>
            </div>
        </fieldset>

        <div class="small-12 medium-12 columns button-green grey-border" ng-click="register(user)">Registreren</div>

    </form>

    <div ng-show="formPage == 1">
        Congratulations and welcome to the LEftovers community.
        <a class="submit" href="#login"><li ng-class="{ active: isRouteActive('/login')}">Login</li></a>
    </div>

